In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys

In [2]:
url = 'https://www.adamchoi.co.uk/teamgoals/detailed'

In [3]:
path = 'E:/DATA SCIENCE/Webscrapping/chromedriver-win64/chromedriver.exe'

In [4]:
s = Service(path)

In [5]:
driver = webdriver.Chrome(service = s)

In [6]:
driver.get(url)

In [7]:
box = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//*[@id="page-wrapper"]/div/home-away-selector/div/div/div/div/label[2]')))

In [8]:
box.click()

In [9]:
 matches = driver.find_elements(By.CSS_SELECTOR, 'tr')

In [10]:
date = []
home_team = []
score = []
away_team = []

In [11]:
for match in matches:
    cells = match.find_elements(By.TAG_NAME, 'td')
    if len(cells) == 4:
        date.append(cells[0].text)
        home_team.append(cells[1].text)
        score.append(cells[2].text)
        away_team.append(cells[3].text)

In [12]:
data = {'Date': date,'Home Team': home_team,'Score': score,'Away Team': away_team}

In [13]:
df = pd.DataFrame(data)

In [14]:
df

           Date       Home Team  Score      Away Team
0    12-08-2023         Arsenal  2 - 1  Nott'm Forest
1    21-08-2023  Crystal Palace  0 - 1        Arsenal
2    26-08-2023         Arsenal  2 - 2         Fulham
3    03-09-2023         Arsenal  3 - 1     Man United
4    17-09-2023         Everton  0 - 1        Arsenal
..          ...             ...    ...            ...
179  16-09-2023          Wolves  1 - 3      Liverpool
180  23-09-2023           Luton  1 - 1         Wolves
181  30-09-2023          Wolves  2 - 1       Man City
182  08-10-2023          Wolves  1 - 1    Aston Villa
183  21-10-2023     Bournemouth  1 - 2         Wolves

[184 rows x 4 columns]